<% include partials/navbar %>

<h2 class="text-center">Your Cart</h2>



<% if (!cart || cart.products.length === 0) { %>
  <h4 class="text-center mt-4">Cart is Empty</h4>
<% } else { %>
  <div class="container mt-4">
    <% cart.products.forEach(item => { %>
      <div class="card p-3 mb-3 d-flex flex-row align-items-center justify-content-between">

        <div>
          <img src="<%= item.productId.image %>" height="80">
        </div>

        <div>
          <h5><%= item.productId.name %></h5>
          <p>₹<%= item.productId.price %></p>
        </div>

        <div class="d-flex align-items-center">
          <form action="/cart/decrease/<%= item.productId._id %>" method="POST">
            <button class="btn btn-sm btn-secondary">−</button>
          </form>

          <span class="mx-2 fw-bold"><%= item.quantity %></span>

          <form action="/cart/increase/<%= item.productId._id %>" method="POST">
            <button class="btn btn-sm btn-secondary">+</button>
          </form>
        </div>

        <div>
          <strong>₹<%= item.productId.price * item.quantity %></strong>
        </div>

        <form action="/cart/remove/<%= item.productId._id %>" method="POST">
          <button class="btn btn-danger btn-sm">Remove</button>
        </form>


        <div class="text-end mt-4">
  <a href="/checkout" class="btn btn-success btn-lg">
    Proceed to Checkout
  </a>
</div>


      </div>
    <% }) %>
  </div>
<% } %>

